:root{
    --background: rgb(18,18,18);
    --foreground: rgb(245,245,245);
    --tint: rgb(0,100,175)
}

body {
    background-color: var(--background);
    color:var(--foreground)
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

#mommy {
    height: calc(99% - 75px);
    margin: 10px auto;
    width: 95%;
    display: flex;
    flex-direction: row;
}
input {
    all: unset;
}

#bigGrid {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
    grid-template-rows: 33.33% 33.34% 33.33%;
    height: 100%;
    aspect-ratio: 1;
    border: 4px solid var(--foreground);
    border-radius: 10px;
    padding: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
    grid-template-rows: 33.33% 33.34% 33.33%;
    border: 2px solid var(--foreground);
    margin: 0px;
}
.box {
    border: 1px solid var(--foreground);   
    background-color: var(--background);
    transition: all 0.3s;
}
.box:hover {
    border: 2px solid var(--tint);
    background-color: var(--background);
    transform: scale(1.1);
    box-shadow: 0px 0px 2px var(--foreground);
}
.t {
    border-top: none;
}
.l {
    border-left: none;
}
.r {
    border-right: none;
}
.b {
    border-bottom: none;
}
#bigGrid input {
    background-color: transparent;
    color: var(--foreground);
    width: 80%;
    height: 80%;
    margin: 10%;
    padding: 0%;
    font-size: 40px;
    border: none;
    box-shadow: none;
    text-align: center;
}
#bigGrid input:focus {
    border: none;
    box-shadow: none;
    stroke: none;
    background: transparent;
}

#bigGrid input:disabled {
    filter: contrast(30%);
}
#rightHandSide {
    width: 25%;
}
#solveBu {
    width: 60%;
    padding: 6px;
    border-radius: 10px;
    font-size: 30px;
    background-color: var(--foreground);
    color: var(--background);
    border: 1px solid var(--tint);
}

#bigGrid .solved {
    filter: none;
}

@media  screen and (max-width: 900px) {
    #mommy {
        flex-direction: column;
    }
    #bigGrid input {
        font-size: 14px;
    }
    #bigGrid {
        height: auto;
        width: 100%;
    }
    #rightHandSide {
        width: 100%;
    }
    #solveBu {
        width: 100%;
        margin: 10px auto;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
}